.section {
    border-bottom: 1px solid black;
    padding: 8px 0;
}

h1 {
    text-decoration:underline;
    font-size:24px;
}

h2 {
    font-size:16px;
    font-style: bold;
}


.section-card {
    background: #ffffff;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}


.section-header {
    padding: 0.75rem 1rem;
    background-color: #f3f3f2; 
    border-bottom: 1px solid #dddbda;
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 1rem;
    font-weight: 700;
    color: #080707;
}

.section-body {
    padding: 1.5rem 1rem;
}

.section-footer {
    padding-top: 1rem;
    border-top: 1px solid #f3f3f2;
    text-align: center;
}