/*
.slds-modal__content {
    overflow: auto; 
    max-height: 100%; 
    overflow-x:hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 

.closer{
    cursor: pointer;
}
.closer:hover{
    transform: scale(1.2);
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    min-width:100%;
}

.slds-modal__container {
    width: 60%;
    max-width: 60%;
    height: fit-content;
    max-height:100%;
    overflow: hidden; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 992px) {
    .slds-modal__container {
        margin: 0;
        width: 100vw;
        max-width:100vw;
        min-width: 100vw;
        max-height: 100vh;
        height: fit-content;
        padding: 0;
    }

    .slds-modal__content {
        overflow-y: auto;
        max-height: 100%;
        overflow-x:hidden;
        scrollbar-width: none; 
        -ms-overflow-style: none; 
    }
}

@media screen and (max-width: 576px) {
    .slds-modal__container {
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        width: 100vw; 
        max-width: 100vw; 
        min-width: 100vw; 
        height: 100vh; 
        max-height: 100vh; 
        z-index: 1050;
        overflow: hidden; 
        padding: 0; 
        display: flex; 
        flex-direction: column; 
        transform: none; 
        box-sizing: border-box; 
    }
}
    
*/