.slds-modal__container{
    width: 99% !important;
    max-width: 99% !important;  
    padding: 2.6rem 0.4rem 0.4rem !important;
}

.slds-modal__content.slds-p-around_medium:not(.modal-body) {
    max-height: 761px !important;
}


td.hanging-col{
    left: calc(-33.6% + 1rem) !important;
}
td.hanging-col2{
    left: calc(-50% + 1rem) !important;
}
td.hanging-col3{
    left: calc(-20.5% + 1rem) !important;
}